@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: var(--font-poppins);
  font-size: 1.2vmax;
  line-height: 1.5vmax;
  color: #d7d7d7;
}

a {
  font-size: 0.8vmax;
}

span {
  color: #d7d7d7;
}

h3 {
  font-family: var(--font-patched);
  font-size: 1.8vmax;
  line-height: 1.5vmax;
  font-weight: 900;
  color: #ffffff;
}

#desktop-navbar {
  background: linear-gradient(
    92deg,
    rgba(255, 255, 255, 0.1) 1.89%,
    rgba(255, 255, 255, 0.06) 103.72%
  );
  border: 1px solid rgba(242, 242, 242, 0.13);
}

#coming-soon-mobile {
  background: var(
    --Gradient-banner,
    linear-gradient(120deg, #76c5f3 8.7%, #a195ee 67.39%)
  );
}

#coming-soon-mobile-wrapper {
  background: rgba(132, 132, 132, 0.22);
  backdrop-filter: blur(5px);
}

#coming-soon {
  background: linear-gradient(120deg, #009efa 8.7%, #4d34f0 67.39%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Goudy";
  src: url("../assets/fonts/goudy_heavyface_bt.ttf");
}

.bg-onboarding {
  background:
    url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/mmosh_bg.png"),
    rgba(0, 0, 0, 0.7)
      url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/texture.png");
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
}

.bg-home {
  background: url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/mmosh_bg.png");
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
}

.bg-profile {
  background: rgba(0, 0, 0, 0.5),
    url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/texture.png");

  background-size: auto;
  background-repeat: repeat;
}

.home-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  background: rgba(0, 0, 0, 0.5)
    url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/texture.png");
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

.home-content > * {
  position: relative;
}

.home-content:before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  filter: blur(100px);
  background: radial-gradient(circle at 50% 50%, #174aff 0%, #030064 100%);
  mix-blend-mode: soft-light;
}

.bg-onboarding::before,
.bg-profile::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: radial-gradient(circle at 50% 50%, #174aff 0%, #030064 100%);
  filter: blur(100px);
  mix-blend-mode: soft-light;
}

#hallucination {
  background-color: #0061ff;
  background-image: var(
    --grad,
    linear-gradient(91deg, #0061ff 20.76%, #ff00ae 100%)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#onboarding-points-gradient {
  background: linear-gradient(88.63deg, #fed008 59.31%, #ff008a 80.33%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#custom-progress {
  width: 5%;
  height: 25px;
  background: url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/logo.png")
    lightgray 50% / cover no-repeat;
}

#banner-image-container > div {
  box-shadow: 0 0 10vmax rgba(66, 221, 255, 1);
}

#bot-banner-container {
  background: linear-gradient(
    90.57deg,
    rgba(0, 97, 255, 0) 0.5%,
    rgba(31, 85, 245, 0.16) 12.37%,
    #4b44e7 29.79%,
    #842fd5 51.74%,
    #b51cc6 70.59%,
    rgba(223, 12, 184, 0.16) 87.04%,
    rgba(255, 0, 174, 0) 99.5%
  );
}

.settings-btn {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
}

.settings-badge {
  max-width: 60px;
  font-size: 10px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-30%, -90%);
  rotate: -20deg;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 10px;

  background-color: #009efa;
  background-image: linear-gradient(120deg, #009efa 8.7%, #4d34f0 67.39%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#profile-info-image {
  grid-template-columns: 0.2fr 1fr;
}

input {
  font-size: 0.85vmax;
}

a {
  font-size: 0.85vmax;
}

#filter-container {
  position: relative;
  display: flex;
  margin-top: 2vmax;
  align-self: start;
  background-color: #0a083c;
  border-radius: 8px;
}

#filter-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  background-clip: padding-box;

  background: linear-gradient(90.66deg, #0061ff 70.22%, #ff00ae 92.51%)
    border-box;

  -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

#member-container {
  position: relative;
  box-shadow:
    1px 2px 8px #ff00ae,
    -0.2em 0 0.2em #0061ff;
}

#member-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 3vmax 0.375rem 0.375rem 0.375rem;
  border: 1px solid transparent;
  background-clip: padding-box;

  background: linear-gradient(90.66deg, #0061ff 70.22%, #ff00ae 92.51%)
    border-box;

  -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

#member-container-home {
  position: relative;
  box-shadow:
    1px 2px 4px #ff00ae,
    -0.2em 0 0.1em #0061ff;
}

#member-container p,
#member-container a,
#member-container-home p,
#member-container-home a {
  position: relative;
  z-index: 1;
}

#member-container-home::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  border: 1px solid transparent;
  background-clip: padding-box;

  background: linear-gradient(90.66deg, #0061ff 70.22%, #ff00ae 92.51%)
    border-box;

  -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.selected-sort-option::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;

  background: linear-gradient(90.66deg, #ff00ae 10.76%, #0061ff 92.51%)
    border-box;

  -webkit-mask: /*4*/
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

.word-break-text {
  word-break: break-all;
}
