@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #09073a;
}

p {
  font-family: var(--font-poppins);
  font-size: 1.2vmax;
  line-height: 1.5vmax;
  color: #d7d7d7;
}

span {
  color: #d7d7d7;
}

h3 {
  font-family: var(--font-patched);
  font-size: 1.8vmax;
  line-height: 1.5vmax;
  font-weight: 900;
  color: #ffffff;
}

#desktop-navbar {
  background: linear-gradient(
    92deg,
    rgba(255, 255, 255, 0.1) 1.89%,
    rgba(255, 255, 255, 0.06) 103.72%
  );
  border: 1px solid rgba(242, 242, 242, 0.13);
}

#coming-soon-mobile {
  background: var(
    --Gradient-banner,
    linear-gradient(120deg, #76c5f3 8.7%, #a195ee 67.39%)
  );
}

#coming-soon-mobile-wrapper {
  background: rgba(132, 132, 132, 0.22);
  backdrop-filter: blur(5px);
}

#coming-soon {
  background: linear-gradient(120deg, #009efa 8.7%, #4d34f0 67.39%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: "Goudy";
  src: url("../assets/fonts/goudy_heavyface_bt.ttf");
}

.bg-onboarding {
  background: url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/mmosh_bg.png"),
    url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/texture.png");
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
}

#hallucination {
  background: var(
    --grad,
    linear-gradient(91deg, #0061ff 71.76%, #ff00ae 92.51%)
  );
}

#custom-progress {
  width: 5%;
  height: 25px;
  background: url("https://storage.googleapis.com/hellbenders-public-c095b-assets/hellbendersWebAssets/logo.png")
    lightgray 50% / cover no-repeat;
}
