@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  cursor: pointer;
}

input[type="checkbox"] {
  appearance: none; /* Hide default checkbox */
  /* Add custom styling for the checkbox outline */
  min-width: 1.438rem;
  height: 1.438rem;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 5px;
  position: relative;
  background-color: #402a2a;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #ffffff; /* Background color when checked */
}

input[type="checkbox"]:checked::before {
  content: "✔"; /* Custom checkmark */
  color: #ff710f; /* Color of the checkmark */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="radio"] {
  appearance: none; /* Hide default radio */
  min-width: 0.875rem;
  height: 0.875rem;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 50%; /* Radio is circular */
  position: relative;
  background-color: #402a2a;
  cursor: pointer;
}

/* When checked */
input[type="radio"]:checked {
  background-color: #ff710f;
}

/* Optional: add the inner dot */
input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.success-container {
  background: linear-gradient(
    270deg,
    rgba(31, 9, 0, 0.018) 0%,
    rgba(33, 239, 0, 0.6) 49.43%,
    rgba(45, 14, 1, 0) 100%
  );
}

.error-container {
  background: linear-gradient(
    270deg,
    rgba(31, 9, 0, 0.021) 0%,
    rgba(244, 0, 0, 0.602) 49.43%,
    rgba(45, 14, 1, 0) 100%
  );
}

.warn-container {
  background: linear-gradient(
    270deg,
    rgba(31, 9, 0, 0.021) 0%,
    rgba(244, 132, 0, 0.602) 49.43%,
    rgba(45, 14, 1, 0) 100%
  );
}

.info-container {
  background: linear-gradient(
    270deg,
    rgba(31, 9, 0, 0.021) 0%,
    rgba(255, 255, 255, 0.602) 49.43%,
    rgba(45, 14, 1, 0) 100%
  );
}

.info-container span {
  color: #000;
}
